<!DOCTYPE html>
<html>
<head>
    <title>Survey</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="card">
        <h2>Daily Check-In</h2>

        <form method="POST" action="/submit">

            <p>Stress level?</p>
            <select name="stress">
                <option value="1">Low</option>
                <option value="3">Medium</option>
                <option value="5">High</option>
            </select>

            <p>Sleep quality?</p>
            <select name="sleep">
                <option value="1">Good</option>
                <option value="3">Okay</option>
                <option value="5">Poor</option>
            </select>

            <p>Mood?</p>
            <select name="mood">
                <option value="1">Positive</option>
                <option value="3">Neutral</option>
                <option value="5">Negative</option>
            </select>

            <p>Motivation?</p>
            <select name="motivation">
                <option value="1">High</option>
                <option value="3">Medium</option>
                <option value="5">Low</option>
            </select>

            <p>Anxiety?</p>
            <select name="anxiety">
                <option value="1">Low</option>
                <option value="3">Medium</option>
                <option value="5">High</option>
            </select>

            <br>
            <button type="submit">Submit</button>

        </form>
    </div>
</body>
</html>